[Unit]
Description=Vega web administrative operation socket
PartOf=vega-web.service

[Socket]
ListenStream=/run/vega-web-admin.sock
SocketUser=root
SocketGroup=vega-web
SocketMode=0660
Accept=yes
MaxConnections=4
RemoveOnStop=true

[Install]
WantedBy=sockets.target
